body {
    background-image: url('1.jpg'); /* Background image */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: azure; /* Semi-transparent white background */
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

form {
    width: 350px;
    margin: 0 auto; /* Center the form */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn-container a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}
