/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

/* Logo container styles */
.logo-container {
  text-align: center;
  margin-top: 20px;
}

.logo {
  max-width: 1100px;
  height: auto;
}

/* Search container styles */
.search-container {
  text-align: center;
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 2px solid #ced4da;
  border-radius: 25px; /* Rounder border */
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px; /* Rounder border */
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Form container styles */
.container {
  text-align: center;
  margin-top: 20px;
}

.dropdown {
  padding: 10px;
  border: 2px solid #ced4da;
  border-radius: 25px; /* Rounder border */
  margin-right: 10px;
  background-color: #fff;
  cursor: pointer;
}

.submit-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 25px; /* Rounder border */
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #218838;
}

/* Table container styles */
#table-container {
  margin-top: 20px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
}

.result-table th,
.result-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.result-table th {
  background-color: #007bff;
  color: #fff;
}
/* Logout Button Styles */
.logout-container {
  position: absolute;
  top: 20px; /* Adjust top position as needed */
  right: 20px; /* Adjust left position as needed */
}

.logout-button {
  padding: 8px 16px;
  background-color: #910404cd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #480202a6;
}